html {
  font-size: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --c-white: #FFFFFF;
  --c-white-100: #F6F6F3;
  --c-white-200: #F2F0E9;
  --c-black: #000000;
  --c-black-100: #212121;
  --c-black-200: #414141;
  --c-grey: #E9E6DD;
  --c-grey-100: #A8A7A5;
  --c-green: #289E16;
  --c-red: #C92F54;
}